.header {
    background-color: plum;
    text-align: center;
    padding: 50px;
    color: gold;
    font-style: oblique;
    font-size: 20px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
     box-shadow: 10px 0px 0px #888888;
  }

.bodyleft {
  background-color: orange;
  float:left;
  width:50%;
  height: 600px;
  align-items: center;

    }
.image{
  
  padding-top:10%;
  padding-left:10%;


}
.bodyright {
    background-color: orange;
    float:right;
    width:50%;
    height:600px;
    text-align:center;
    box-shadow: 10px 0px 0px #888888;
}
.paragraph{
  padding-top:1%;
  color:gold;
  padding-right:5%;
}

.footer {
      background-color: plum;
      text-align:center;
      padding:30px;
      font-size: 30px;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
       box-shadow: 10px 10px 10px #888888;
}
.navigation{
  padding-top:50%;
}
a:link, a:visited {
    color: gold;
    text-decoration: none;
}

a:hover, a:active {
    color:black;
}
